body {
  margin: 0;
  padding: 0;
  font-family: font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.button {
  background: black;
  color:  #667eea;
  padding: 12px 25px;
  font-size: 20px;
  color: white;   /* button text white */
  text-decoration: none;
  font-weight: 600;
  border-radius: 40px;
  transition: 0.3s;
}

.button:hover {
  background: white;
  color: black;
  transition: 0.3s ease;
}

